.add-manner-class-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 2rem;
  width: 50%;
}

.add-manners-div {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.add-manners-input {
  margin-right: 1rem;
}

.add-manner-span {
  color: red;
  font-size: 0.8rem;
}
;