.button-addopt {
  background-color: #00ddc6;
  text-decoration: none;
  background-color: #00ddc6;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  color: #fff;
  border-radius: 1rem;
  transition: 0.3s;
  font-weight: bold;
  display: block;
  margin: 5rem auto;
  width: 30%;
}

.button-addopt:hover {
  background-color: #fff;
  border: 1px solid #00ddc6;
  color: #00ddc6;
}

.video-container {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  height: 0;
  width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.adoption-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.adoption-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.add-adoption-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.add-adoption-div {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin: 1rem 0;
}

.add-adoption-label {
  display: inline-block;
  text-align: right;
  width: 100px;
}

.add-adoption-input {
  width: 30vw;
}

.add-adoption-btn {
  width: 10rem;
}

.add-adoption-btn {
  margin: 0 auto;
  width: 30vw;
}

.adoption-items {
  height: 100vh;
  margin-top: 4rem;
}

.button-link-style{
text-align: center;
margin-left: 6rem;
}

.card-title{
  text-align: center;
  margin-bottom: 1rem;
}
.card-body{
  max-height: 5vh;
}

@media (max-width:480px)
{

.adoption-container{
  display: block;
} 
.button-link-style{
margin-left: 6rem;
}
.button-addopt {
  width: 80%;
}

.card-title{
  text-align: center;
}

.adoption-items{
  margin-top: 3rem;
}
.video-container iframe{
  width: 100%;
  height: auto;
}


}