.petdetails{
    line-height: 30px;
}

.adopt-button{
    
  margin-top: 3rem;
  background-color: #00DDC6;
  text-decoration: none;
  background-color: #00ddc6;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  color: #fff;
  border-radius: 1rem;
  transition: 0.3s;
  font-weight: bold;
  margin-bottom: 5rem;
 
}

.adopt-button:hover {
    background-color: #fff;
    border: 1px solid #00ddc6;
    color: #00ddc6;
  }

.Adopt-card{
    margin-top: 5rem;
}
.button-link-style{
  margin: auto;
}

.modal-footer{
  justify-content: center;
}
.btn-confirm{
  margin-top: 3rem;
  background-color: #00DDC6;
  text-decoration: none;
  background-color: #00ddc6;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  color: #fff;
  border-radius: 1rem;
  transition: 0.3s;
  font-weight: bold;
  margin-bottom: 2rem;
}

.btn-confirm:hover {
  background-color: #fff;
  border: 1px solid #00ddc6;
  color: #00ddc6;
}

.adoptiondetails-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.adopt-status {
  color: #00ddc6;
}

.customer-details-input {
  display: block;
  width: 100%;
  margin: 1rem 0;
}



@media (max-width:480px){
.pet-details{
   margin-top: -1rem;
   text-align: center;
  }
.adopt-status{
  text-align: center;
}
.button-link-style{
  margin: auto;
}



}