.contact-us-h1 {
  color: #00ddc6;
  text-align: center;
}

.contact-us-details {
  text-align: left;
}

.contact-us-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.form-details-p {
  text-align: unset;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-details-label {
  display: block;
}

.form-details-input {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(55, 55, 55);
  display: inline-block;
  margin: 1rem 0;
}

.form-details-textarea {
  width: 100%;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.form-details-button {
  width: 30%;
}

.contact-us-items {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 1rem 0;
    gap: 1rem;
}

.contact-us-icons {
    font-size: 2.5rem;
    margin-right: 2rem;
}

.contact-us-address-p {
    text-align: unset;
}

@media  (max-width:480px) {
.contact-us-grid{
  display: inline;
}
}