.customer-reviews-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  text-align: center;
  gap: 1rem;
  margin: 0 auto;
}

.customer-reviews {
  border: 2px solid #00ddc6;
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;
}

.carousel-button {
  background-color: #00ddc6;
  height: 3rem;
  width: 3rem;
  transform: translateY(200%);
}

.customer-reviews-details {
  margin: 0;
  text-align: left;
}

.adoption-container-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin: 6rem 0;
}

.adoption-img-carousel {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
}
