.faq{
    
  /* position: absolute;
  width: 732px;
  height: 106px;
  left: 354px;
  top: 200px; */
  margin: auto;
  width: 60%;
  font-family: 'Poppins';
  font-style: normal;
  line-height: 24px;
  color: #000000;
  }

  .header {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .accordion-button {
    background-color: #00DDC6 !important;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #00DDC6 !important;
    color:#000000;
  }

  .accordion-body {
    background-color: #F5F5DC;
  } 

 