.hero-container {
  gap: 2rem;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: left;
}

.hero-text-p {
  text-align: left;
  margin-top: -2rem;
}

.subtitle {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  width: 40%;
  margin: 2rem auto;
}

.description {
  text-align: center;
}

.span-color {
  color: #00ddc6;
}

.button-link-style {
  display: inline-block;
  text-decoration: none;
  background-color: #00ddc6;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  color: #fff;
  border-radius: 1rem;
  transition: 0.3s;
  font-weight: bold;
}

.button-link-style:hover {
  background-color: #fff;
  border: 1px solid #00ddc6;
  color: #00ddc6;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.carousel-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.feature-services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  height: 75vh;
  gap: 2rem;
  margin: 0 auto;
}

.feature-services-container-description {
  text-align: center;
  width: 100%;
  margin: 2rem auto;
}

.feature-services-div {
  text-align: center;
}

.feature-services-img {
  width: 6rem;
}

.feature-services-title {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

#adoption-cta {
  display: block;
  text-align: center;
  margin: 2rem auto;
  width: 10rem;
}

.adoption-details-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.adoption-details {
  color: #000;
  text-decoration: none;
  margin: 1rem 0;
}

.adoption-details-img {
  display: block;
  height: 50%;
  object-fit: cover;
  padding: 0;
}

.adoption-details-texts {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.gallery-container,
.trainer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
}

.gallery-section{
  margin-top: 5rem;
}

.adoption-img-carousel{
  margin-top: -4.5rem;
}

.gallery-img {
  padding: 0;
  object-fit: cover;
  width: 100%;
  height: 40vh;
}

.featured-col {
  grid-column: span 2;
}

.featured-row {
  grid-row: span 2;
  height: 100%;
}

.trainer-section {
  margin: 10rem 0;
  text-align: center;
}

.trainer-name {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem!important;
}

.trainer-position{
  text-align: center;
}

.trainer-img {
  height: 40vh;
  object-fit: cover;
  object-position: top;
}


#root > div > div.trainer-section > div > div > p.trainer-name {
  margin: 0;
}

.social-icons {
  font-size: 2.5rem;
  display: inline-block;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}

.social-icons:hover {
  color: #00ddc6;
}

.carousel-reviews {
  margin-bottom: 6rem;
}

.feature-services-img:hover{
  -ms-transform: scale(1.3); 
  -webkit-transform: scale(1.3); 
  transform: scale(1.3); 
  transition-duration: 1s;

  }






 /* ==== MEDIA QUERY HERE==== */

@media (max-width:480px)


{

.hero-container{
display: block;
justify-content: center;
margin-bottom: 2 rem;

}

#welcome{
  margin-top: -1rem;
  font-size:2rem;
}

.hero-text-p{
  margin-top: -3rem;
 text-align: center;
 line-height:1.5rem;

}
#enroll{

  margin-left: 7rem!important;

}
.trainer-name, .trainer-position{
  text-align: center;
}
.CarouselSlider{
display: block;
margin-top: rem;
margin-bottom: 3rem!important;
 
}

#whatcan{
  margin-top: 3rem!important;
}

#catsdog{
  display: inline;
}

  
.cats-and-dog{
  margin-top: 35rem;
  text-align: center;
  

  
}

.adoption-container-homepage{
  display: block;
}

.adoption-img-carousel{
  margin-top: 2rem;
}

.feature-services-container-description{
  text-align: justify;
}

.feature-services-container {
  display:block!important;

}

.description{

padding: 0.5rem;
text-align: center;
margin-bottom: 3rem;
  
}

#Trainers{
  margin-top: -5rem;
  margin-bottom: 3rem;
}
.trainer-container{
  display: block;
}
.trainer-social-icons{
  margin-bottom: 1rem;
}
.customer-reviews-container{
  display: block;
  

}
.customer-reviews{
 
  margin-bottom: 1rem;
  


}
.customer-reviews-details{
  text-align: center;
}

}








/* 820 max */

@media (max-width:820px){



.hero-container{
  display: block;
  justify-content: center;
  margin-bottom: 2 rem;
    
    }

#enroll{
  margin-bottom: 3rem;
}

#whatcan{
  margin-top: -10rem;
}
.feature-services-container-description{
  text-align: justify;
}
.feature-services-container{
  display: block;
}

#catsdog{

  font-size: 2rem;
}

.gallery-section{
  margin-top: -5rem;

}
.gallery-container{
  display: block;
  padding-top: 2rem;
}

.gallery-img{
  margin-bottom: 1rem;
}

#Trainers{
  margin-top: -6rem;
  
}
.trainer-container{
  display: block;
  
}

.trainer-img{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.customer-reviews-container{
  display: block;
}
.customer-reviews{
  margin-bottom: 1rem;
}

}