
.login-container {
    height: 100vh;
  }
  
  .login-wrapper {
      background-color: #00DDC6;
      padding: 2rem;
      border-radius: 1rem;
      width: 30%;
      margin: 2rem auto;
  }
  
  .login-title {
      font-weight: bold;
      margin: 0;
  }
  
  .login-input {
      display: block;
      width: 100%;
      border: transparent;
      margin-top: 1rem;
      height: 3rem;
      border-radius: 1rem;
      padding: 20px;
  }
  
  #login-button {
      margin-top: 1rem!important;
      background-color: #000;
      width: 100%;
      margin: auto!important;

  }
  .login-input{
    margin-bottom: 1rem;
  }


  .dont-have-account {
      margin-top: 1rem;
  }
  
  #create-account {
      color: #000;
      font-weight: bold;
  }
  
  @media (max-width:480px) {
    .login-wrapper {
    display:contents; 
    
}
.login-container{
    padding: 2rem;
    margin-top:3rem;
    background-color: #00DDC6;
    border-radius:2rem;
    margin-left:2rem;
    margin-right:2rem;
    height: 20%!important;
        

   
}

  }