
.navlinks-div {
  display: flex;
  align-items: center;
}

.navlinks-ul {
  display: flex;
  align-items: center;
}

.navlinks-li {
  list-style-type: none;
}

.navlinks-a {
  position: relative;
  text-decoration: none;
  color: #000;
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.dropright {
  text-decoration: none;
  transition: 0.3s;
}

.nav-dropdown {
  width: 100%;
  display: block;
  text-decoration: none;
  transition: 0.3s;
}

.navlinks-a::after {
  content: "";
  display: block;
  border-bottom: 2px solid transparent;
  position: absolute;
  width: 0;
  left: 0;
  bottom: -50%;
  transition: all 0.3s ease-in-out;
}

.navlinks-a:hover::after,
.navlinks-a:active::after,
.navlinks-a:focus::after {
  border-bottom: 2px solid #00ddc6;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50%;
}

.navlinks-a:hover,
.navlinks-a:focus,
.navlinks-a:active {
  color: #00ddc6;
}

.cartIcon {
  color: #000;
  font-size: 1.3rem;
  margin-left: 1rem;
  transition: 0.3s;
  position: relative;
}

.cartIcon:hover {
  color: #00ddc6;
}

.cartIcon-qty {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  font-size: 1rem;
  color: #fff;
  background-color: #f42d46;
  text-align: center;
  z-index: 999;
  top: 0;
  right: -50%;
  border-radius: 50%;
  line-height: 1;
}

#offcanvasNavbar-expand-md > div.offcanvas-body > div:nth-child(1) > ul > div {
  position: relative;
  text-decoration: none;
  color: #000;
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
}

#basic-nav-dropdown {
  color: #000;
  transition: 0.3s ease-in-out;
}

#basic-nav-dropdown:hover {
  color: #00ddc6;
}

#offcanvasNavbar-expand-md
  > div.offcanvas-body
  > div:nth-child(1)
  > ul
  > div::after {
  content: "";
  display: block;
  border-bottom: 2px solid transparent;
  position: absolute;
  width: 0;
  left: 0;
  bottom: -15%;
  transition: all 0.3s ease-in-out;
}

#offcanvasNavbar-expand-md
  > div.offcanvas-body
  > div:nth-child(1)
  > ul
  > div:hover::after {
  border-bottom: 2px solid #00ddc6;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10%;
}

#offcanvasNavbar-expand-md
  > div.offcanvas-body
  > div:nth-child(1)
  > ul
  > div.nav-item.show.dropdown
  > div
  > div
  > div {
  position: absolute;
  left: 100%;
}

@media (max-width:480px) {
.navlinks-ul  {

  display:inline-block;
   
}
.nav-links-container {
  display: block;
  
}
.navlinks-a{
  font-size: 1rem;
  margin-top: 1rem;
  color:  rgb(34, 42, 41)

 
}
#basic-nav-dropdown{
  font-size: 1rem!important;
  margin-top: 1rem;
  color:  rgb(34, 42, 41)

}
.navlinks-li{
  margin-top:  1rem;
 
}
.offcanvas-body{
  background-color: #a5e5df!important;
 
}

.nav-dropdown{
 
  color: #000;
}
.dropright{
  color:  rgb(34, 42, 41)
}


.cartIcon{
  display: none;

}

.offcanvas-body{
background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpikumddWJ_wY1v5I_cklHoDm8Do6tK0mLpw&usqp=CAU);
background-position:1.5vmin 25rem ;
background-repeat: no-repeat!important;

}

}

/* =========820============= */


@media(max-width:741px){
  .navlinks-ul  {

    display:inline-block;
     
  }

  .offcanvas-body{
    background-color: #a5e5df!important;
   
  }

.nav-links-container{
  padding-left: -5rem;

}
.cartIcon-qty{
  display: none;
}

.offcanvas-body{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpikumddWJ_wY1v5I_cklHoDm8Do6tK0mLpw&usqp=CAU);
  background-position:4vmin 25rem ;
  background-repeat: no-repeat!important;

  }
.dropright{
  float: left;
}



}


  

