* {
  font-family: "Poppins";
  line-height: 1.8rem;
}
.aboutus {
  font-style: normal;
  line-height: 24px;
  color: #000000;
}

h1 {
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

#section2 {
  color: aquamarine !important;
}

 p{
  text-align: justify;
}

.img-circle {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  object-fit: cover;
}

.Border-story {
  border-color: #00ddc6 !important;
  padding: 10px !important;
}

.ourStoryImage {
  border-radius: 50% !important;
}
.border-box {
  padding: 5rem;
  border-color: #00ddc6 !important;
  border-width: 2px !important;
  border-radius: 1%;
}

.about-us {
  color: #00ddc6;
}

.kevin-image {
  border-radius: 5px;
  object-fit: cover;
  width: 1200px!important;
}
.card2 {
  margin-top: 5rem;
}

.core-values {
  margin-top: 5rem;
}

#root > div > div.core-values-wrapper.border-box.border.container {
  padding: 1rem;
}

.core-values-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  text-align: center;
  margin: 2rem auto;
}

.values-container-h3 {
  font-weight: bold;
  margin: 1rem 0;
}

@media (max-width:480px) {
  .core-values-wrapper{
  display:block;

  }
.core-values-wrapper p{
  text-align: justify;
}
.card-text{
  text-align: justify;
}

}

@media (max-width:480px)
{
  .core-values-wrapper{
    display:block;
  
    }
.card-text{
  text-align: justify;
}

}
@media (max-width:500px)
{
  .core-values-wrapper{
    display:block;
  
    }
.card-text{
  text-align: justify;
}

}

@media (max-width:540px)
{
  .core-values-wrapper{
    display:block;
    padding: 2rem!important;
  
    }
.card-text{
  text-align: justify;
}


}
@media (max-width:768px){
  .core-values-wrapper{
  display:block;
  padding: 2rem!important;
  }

}