
h1{
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

}

#section2{
    color: aquamarine!important;
}

.card2{
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.img-circle{
    width: 10px;
    height: 10px;
    border-radius: 100px;
}



.coreValues{
   
    padding: 10px;
   
    
    
}
.Border-story{
    border-color: #00DDC6!important;
    border-width: 2px!important;
    padding: 3rem;
    margin-top: 5rem;

}

.ourStoryImage{
    border-radius: 50%;
   
    
}