
h1{
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

}

#section2{
    color: aquamarine!important;
}

.card2{
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.img-circle{
    width: 10px;
    height: 10px;
    border-radius: 100px;
}




.Border-story{
    border-color: #00DDC6!important;  
    padding: 10px!important;
    

}

.ourStoryImage{
    border-radius: 50%!important;
   
}
.border-box {
    padding: 5rem;
    border-color: #00DDC6!important;
    border-width: 2px!important;
}
