.login-container {
  height: 100vh;
}

.login-wrapper {
    background-color: #00DDC6;
    padding: 2rem;
    border-radius: 1rem;
    width: 30%;
    margin: 2rem auto;
}

.login-title {
    font-weight: bold;
    margin: 0;
}

.login-input {
    display: block;
    width: 100%;
    border: transparent;
    margin-top: 1rem;
    height: 3rem;
    border-radius: 1rem;
}

#login-button {
    margin-top: 1rem;
    background-color: #000;
    width: 100%;
}

.dont-have-account {
    margin-top: 1rem;
}

#create-account {
    color: #000;
    font-weight: bold;
}