.buttones{
    background-color: #00DDC6;
    display: inline-block;
    text-decoration: none;
    background-color: #00ddc6;
    border: 1px solid transparent;
    padding: 0.6rem 1.2rem;
    color: #fff;
    border-radius: 1rem;
    transition: 0.3s;
    font-weight: bold;
    width: 100%;
  }
  .buttones:hover {
      background-color: #fff;
      border: 1px solid #00ddc6;
      color: #00ddc6;
    }
  